body {
  background: url(/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fancy {
  letter-spacing: 0.33rem !important;
  text-transform: uppercase !important;
}

.invisible {
  display: none !important;
}
